= render 'devise/shared/auth_hero' do
  %h2= t('devise.passwords.new.forgot_your_password')
  .box
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .actions
        = f.submit t('devise.passwords.new.send_me_reset_password_instructions')
  = render "devise/shared/links"
