%nav.navbar.is-light{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => root_path}
      %img{:height => "28", :src => "#{image_url 'farsharing.png'}", :width => "112"}/
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbar", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbar.navbar-menu
    .navbar-start
      - if user_signed_in? && allowed_to?(:index?, Car)
        = link_to cars_path, class: 'navbar-item' do
          %span.icon
            %i.mdi.mdi-car
          = Car.model_name.human(count: 2)
      - if user_signed_in? && allowed_to?(:index?, Location)
        .navbar-item.has-dropdown.is-hoverable
          %a.navbar-link
            = t(:definitions)
          .navbar-dropdown
            - if user_signed_in? && allowed_to?(:index?, Location)
              = link_to Location.model_name.human(count: 2), locations_path, class: 'navbar-item'
            - if user_signed_in? && allowed_to?(:index?, Feature)
              = link_to Feature.model_name.human(count: 2), features_path, class: 'navbar-item'
    .navbar-end
      = link_to t('pages.about'), pages_about_path, class: 'navbar-item'
      = link_to t('pages.impressum'), pages_impressum_path, class: 'navbar-item'
      = link_to t('pages.privacy'), pages_privacy_path, class: 'navbar-item'
      .navbar-item
        .buttons
          - if user_signed_in?
            = link_to(destroy_user_session_path, method: :delete, class: ['button is-primary']) do
              %strong= t('devise.sessions.destroy.sign_out')
          - else
            %a.button.is-primary(href=new_user_registration_path)
              = t('devise.registrations.new.sign_up')
            %a.button.is-primary(href=new_user_session_path)
              %strong= t('devise.sessions.new.sign_in')
