= form_for @feature, builder: BulmaFormBuilder::HorizontalBulmaFormBuilder do |f|
  = f.errors

  = f.labeled_text_field :name
  = f.labeled_text_field :icon
  .actions
    = f.submit t('features.interaction.save.button.)

